@font-face {
    font-family: 'TheNextFont';
    src: url('font/TheNextFont.ttf') format('truetype');
}
@font-face {
    font-family: 'DancingScript';
    src: url('font/DancingScript.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato';
    src: url('font/Lato.ttf') format('truetype');
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    background-color: #161616;
    min-height: 100vh;
  }

.logo {
    width: 30%;
    max-width: 120px; 
    min-width: 40px; 
    height: auto; 
}

.titre {
    color: white;
    font-family: 'TheNextFont', 'arial';
    font-size: 4rem;
}

.titre2 {
    color: white;
    font-family: dancingSCript, 'arial';
    font-size: 2rem;
    text-align: end;
    margin-right: 95px;
}
  
.nav-container {
    width: 90%;
    margin: auto; 
}

nav ul {
    display: flex; 
    justify-content: space-around; 
    list-style-type: none;
    padding: 0; 
}

nav li {
    float: none; 
}

nav li a {
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    font-size: 2.5vw;
    font-family: 'TheNextFont', 'arial';
}

nav li a:hover {
    color: #4b4b4b;
}

.ligne {
    color: white;
    width: 90%;
    margin: auto;
}

.titre3 {
    color: #161616;
    font-family: 'TheNextFont', 'arial';
    font-size: 4.8rem;
    background-color: #02A551;
}

.titreProposer {
    color: #161616;
    font-family: 'TheNextFont', 'arial';
    font-size: 2rem;
    background-color: #fc9701;
}

.titreProposer span {
    color : white
}

.titre3 span {
    color: white;
}

.titre3GalerieText {
    font-family: 'TheNextFont', 'arial';
    font-size: 2.8rem;
    background-color: #7070ff;
    color: white;
    font-size: 2rem;
}

.titre3galerie {
    padding: 1rem;
}

.tableau {
    width: 100%; 

}

.galerieText {
    color : white;
    font-family: 'lato', 'arial';
    font-size: 1.1rem;
    padding-right: 1rem;
}
.titre3GalerieText span {
    color: #161616;
}

.spanBlanc {
    color: white;
}

.text {
    color: white;
    font-family: 'Lato', 'arial';
    padding-right: 100px;
    font-size: 1.2rem;
}

.text span {
    position: absolute;
    left: -400px
}

.container-fluid input, #inputCommentaire{
    background-color: rgba(255, 255, 255, 0.26);
    border: none;
    resize: none;
    font-family: 'lato', 'arial';
}

.footerText {
    font-family: 'Lato', 'arial';
    color: white;
    text-align: center;
    padding-top: 50px;
}

.menuBurger {
    display: none;
}

button, .resultat {
background-color: #161616;
color : white;
font-family: 'theNextFont', 'arial';
}

@media (max-width: 1024px) {
    .nav-container {
        display: none;
    }

    .menuBurger {
        display: block;
        text-align: end;
        width: 95%;
    }

    .menuBurger button {
        border: none;
    }
    .burger {
        width: 60px;
        height: 40px;
    }

    .menuBurgerA {        
        text-decoration: none; 
        color: white; 
        font-size: 2rem;
        font-family: 'TheNextFont', 'arial';
    }


    .footerText {
        display: none;
    }
    .galerieText {
        font-size: 1rem;
    }
}

